#jumbotron-div {
  background-color: #181818;
  color: #aaaaaa;
  font-family: "Trebuchet MS", sans-serif;
  min-height: 800px;
}

#jumbotron-div:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 800px;
  background-image: url("../img/jumbotron-bg-4.jpg");
  opacity: 0.1;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section-container {
  margin: 1rem;
  margin-bottom: 3rem;
}

.section-image {
  max-width: 100%;
  height: auto;
}

.section-heading,
.description {
  font-family: "Trebuchet MS", sans-serif;
  color: black;
}

.section-heading {
  font-weight: bold;
  margin-top: 1.3rem;
  margin-bottom: 1rem;
}

.description {
  color: #181818;
}

.text-muted {
  color: #6c757d;
}
