#jumbotron-div {
  background-color: #181818;
  background-image: url("../img/jumbotron-bg-4.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
  color: #aaaaaa;
}

.word,
.descriptions {
  opacity: 0;
}
