.verticalUpper {
  position: fixed;
  top: 25%;
  max-width: 500px;
}

.widthWide {
  max-width: 800px;
}

.description-tooltip {
  max-width: 600px;
  opacity: 1 !important;
}

.alertCustom {
  position: fixed;
  min-width: 200px;
  max-width: 1000px;
  z-index: 100;
  top: 10px;
  left: 10px;
}

@media only screen and (max-height: 1000px) {
  .verticalUpper {
    position: relative;
    margin: 1%;
  }
}

@media only screen and (max-width: 1400px) {
  .widthWide {
    max-width: 600px;
  }
  .description-tooltip {
    max-width: 500px;
  }
}

@media only screen and (max-width: 700px) {
  .description-tooltip {
    max-width: 80%;
  }
}
